<!DOCTYPE html>
<html lang="es">
<%- include('../partials/head.ejs') %>

<body>
    <%- include('../partials/header.ejs') %>
    <main>

        <section class="hero">
            <h1>Macbook pro</h1>
        </section>

        <section class="detail">
            <div class="img-product">
                <img src="https://icdn2.digitaltrends.com/image/digitaltrends_es/apple-macbook-pro-16-ry-14.jpg" alt="producto">
            </div>
            <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Rem, aspernatur?</p>
            <strong>$ 10.99</strong>
            <small>$ 11.5 </small>
        </section>
        <section class="buttons">
            <a href="">EDITAR</a>
            <a href="">ELIMINAR</a>
        </section>
    </main>

    <%- include('../partials/footer.ejs') %>
</body>

</html>