<!DOCTYPE html>
<html lang="es">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Home</title>
        <link rel="stylesheet" href="/css/style.css">
    </head>
<body>
    <header>
        <span class="logo">Cambio el logo</span>
        <nav>
            <ul>
                <li><a href="/users/register">Register</a></li>
                <li><a href="/users/login">Login</a></li>
            </ul>
        </nav>
    </header>

    <main>

        <section class="hero">    
            <h1>Bienvenidos</h1>
        </section>

        <section class="cards">
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
            <article>
                <h2>Ad lorem ipsum</h2>
                <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Aliquid perferendis dignissimos repellendus ipsa dolore nulla unde, quis error maiores odio?</p>
                <button>Más info</button>
            </article>
        </section>

    </main>
    
    <footer>
        &copy;Digital House, 2022
    </footer>
</body>
</html>