<header>
    <span class="logo"><a href="/">Cambio el logo</a></span>
    <nav>
        <ul>
            <li><a href="/users/register">Register</a></li>
            <li><a href="/users/login">Login</a></li>
        </ul>
    </nav>
</header>